<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnterprisePoliciesEnabled</key>
	<true/>
	<key>BlockAboutAddons</key>
	<true/>
	<key>BlockAboutConfig</key>
	<true/>
	<key>BlockAboutProfiles</key>
	<true/>
	<key>BlockAboutSupport</key>
	<true/>
	<key>Bookmarks</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Williams</string>
			<key>URL</key>
			<string>https://williams.edu</string>
			<key>Placement</key>
			<string>toolbar</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Library</string>
			<key>URL</key>
			<string>https://library.williams.edu</string>
			<key>Placement</key>
			<string>toolbar</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Glow</string>
			<key>URL</key>
			<string>https://glow.williams.edu</string>
			<key>Placement</key>
			<string>toolbar</string>
		</dict>
	</array>
	<key>Certificates</key>
	<dict>
		<key>ImportEnterpriseRoots</key>
		<true/>
		<key>Install</key>
		<array>
			<string>"/Library/Application Support/Williams/williams-ca.der"</string>
		</array>
	</dict>
	<key>Cookies</key>
	<dict>
		<key>Default</key>
		<true/>
		<key>AcceptThirdParty</key>
		<string>never</string>
		<key>ExpireAtSessionEnd</key>
		<true/>
		<key>RejectTracker</key>
		<true/>		
	</dict>
	<key>DisableAppUpdate</key>
	<true/>
	<key>DisableBuiltinPDFViewer</key>
	<true/>
	<key>DisableDeveloperTools</key>
	<true/>
	<key>DisableFeedbackCommands</key>
	<true/>
	<key>DisableFirefoxAccounts</key>
	<true/>
	<key>DisableFirefoxScreenshots</key>
	<true/>
	<key>DisableFirefoxStudies</key>
	<true/>
	<key>DisableForgetButton</key>
	<true/>
	<key>DisableFormHistory</key>
	<true/>
	<key>DisableMasterPasswordCreation</key>
	<true/>
	<key>DisablePocket</key>
	<true/>
	<key>DisablePrivateBrowsing</key>
	<true/>
	<key>DisableProfileImport</key>
	<true/>
	<key>DisableProfileRefresh</key>
	<true/>
	<key>DisableSafeMode</key>
	<true/>
	<key>DisableSecurityBypass</key>
	<dict>
		<key>InvalidCertificate</key>
		<true/>
		<key>SafeBrowsing</key>
		<true/>
	</dict>
	<key>DisableSetDesktopBackground</key>
	<true/>
	<key>DisableSystemAddonUpdate</key>
	<true/>
	<key>DisableTelemetry</key>
	<true/>
	<key>DisplayBookmarksToolbar</key>
	<true/>
	<key>DontCheckDefaultBrowser</key>
	<true/>
	<key>EnableTrackingProtection</key>
	<dict>
		<key>Value</key>
		<true/>
		<key>Locked</key>
		<true/>
	</dict>
	<key>FlashPlugin</key>
	<dict>
		<key>Allow</key>
		<array>
			<string>https://www.example.com</string>
		</array>
		<key>Block</key>
		<array>
			<string>https://www.example.org</string>
		</array>
		<key>Default</key>
		<true/>
		<key>Locked</key>
		<true/>
	</dict>
	<key>HardwareAcceleration</key>
	<false/>
	<key>Homepage</key>
	<dict>
		<key>URL</key>
		<string>https://williams.edu</string>
		<key>Locked</key>
		<true/>
		<key>StartPage</key>
		<string>homepage</string>
	</dict>
	<key>InstallAddonsPermission</key>
	<dict>
		<key>Allow</key>
		<array>
			<string>https://example.org</string>
			<string>https://example.edu</string>
		</array>
		<key>Default</key>
		<false/>
	</dict>
	<key>NoDefaultBookmarks</key>
	<true/>
	<key>OfferToSaveLogins</key>
	<false/>
	<key>OverrideFirstRunPage</key>
	<string>https://williams.edu</string>
	<key>OverridePostUpdatePage</key>
	<string></string>
	<key>SanitizeOnShutdown</key>
	<true/>
</dict>
</plist>
